/* Incluye la fuente personalizada */
@font-face {
    font-family: 'WindsorBT-LightCondensed';
    src: url('fonts/WindsorBT-LightCondensed.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 1.5em;
    font-family: 'WindsorBT-LightCondensed', 'Times New Roman', sans-serif;
    margin: 0;
    background: url('img/LL_Blur.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1001;
}

.menu-toggle {
    background-color: grey;
    color: white;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    position: relative;
}

.nav-menu {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: left 0.3s ease;
    z-index: 1000;
}

.nav-menu.active {
    left: 0;
}

.nav-menu ul {
    list-style: none;
    margin: 20px;
    padding: 25px;
}

.nav-menu ul li {
    margin: 20px 0px 15px;
}

.nav-menu ul li a {
    color: white;
    text-decoration: none;
}

.nav-menu ul li a.active {
    font-weight: bold;
}

main {
    text-align: center;
    color: white;
    margin-top: 20px;
}

#home {
    padding: 0px 18px 0px 18px;
}

#deportistas {
    padding: 0px;
}

#estadisticas {
    height: 100%;
    margin: 0;
}

.empresa-buttons {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 25px;
    gap: 20px;
}

.empresa-button {
    background-color: white;  
    border: 2px solid white;
    border-radius: 50%;
    width: 50px; /* Ajusta el ancho de los botones */
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px; /* Añadir espacio vertical entre las filas */
    box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el ancho total */
}

.empresa-button img {
    max-width: 140%;
    max-height: 140%;
}

.empresa-button:hover {
    border: 2px solid white;
    transform: scale(1.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.empresa-info {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    padding-right: 50%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -250px;
        top: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        transition: left 0.3s ease;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu ul {
        list-style: none;
        margin: 20px;
        padding: 25px;
    }

    .nav-menu ul li {
        margin: 20px 0px 15px;
    }

    .nav-menu ul li a {
        color: white;
        text-decoration: none;
    }

    .nav-menu ul li a.active {
        font-weight: bold;
    }
}




  

/* Estilos para la animación de la imagen */
.empresa-info img {
    display: block;
    position: fixed;
    right: -240px; /* Fuera de la pantalla al inicio */
    top: 65%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Centrar verticalmente con respecto al centro de la imagen */
    width: 240px; /* Puedes ajustar el tamaño según tus necesidades */
    height: auto;
    transition: right 0.5s ease, opacity 0.5s ease;
    opacity: 0; /* Inicialmente transparente */
}

.empresa-info img.active {
    right: -25px; /* Subir a la posición visible */
    opacity: 0.9; /* Hacer visible */
}


.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 65%;
    max-height: 65%;

}






